{% extends 'base.html.twig' %}

{% block title %} Liste des Auteurs {% endblock %}

{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{asset('img/star.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Post Blog</h1>
                            <span class="subheading">A Blog Post by Tuquet Adrien</span>
                            <span class="subheading">Liste des Utilisateurs</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main>
        <div class="text-center my-5">
            <a class="btn btn-primary" type="button" href="{{ path('add_user') }}"><span>Ajouter un utilisateur</span></a>
        </div>
        {% for user in users %}
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7"> 
                        <div class="post-preview">
                            <a>
                                <h2 class="post-title">{{ user.email }}</h2>
                            </a>
                            <p class="post-meta mb-2">
                                {{ user.roles ? user.roles|json_encode : '' }}<br>
                            </p>
                            <div class="text-center my-3">
                                <a class="btn btn-primary" href="{{ path('update_user', {id: user.id}) }}" type="button">Mofifier</a>
                                <a onclick="return confirm('Supprimer l\'utilisateur #{{ user.email }}')" class="btn btn-danger" href="{{ path('delete_user', {id: user.id}) }}">Supprimer</a>
                            </div>
                            <hr class="my-4" />
                            <!-- Pager-->
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <em>Aucun utilisateur</em>
        {% endfor %}
        </main>
{% endblock %}